@use "variables" as *;

body{
    font-family: 'Metropolis', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: white;
    line-height: 1.4;

    .text-justify{
        text-align: justify;
    }

    .text-left{
        text-align: left;
    }

    .text-right{
        text-align: right;
    }

    .text-center{
        text-align: center;
    }

    strong{
        font-weight: 700;
    }
}

h1, h2, h3, h4, h5{
    font-weight: 500;
    margin: 0;
    font-family: "TheReconLegend", sans-serif;
}

h1, .hl1 {
    font-family: "OttosRaven", sans-serif;
    font-size: 60px;
    line-height: 60px;
    font-weight: 500;

    @include media(max-medium) {
        font-size: 40px;
        line-height: 40px;
    }
}

h2, .hl2 {
    font-size: 38px;
    line-height: 39px;
}

h3, .hl3 {
    font-size: 32px;
    line-height: 36px;
}

p {
    margin: 0 0 20px 0;

    a {
        position: relative;
        text-decoration: none;

        &::after, &::before {
            position:absolute;
            content: "";
            height: 1px;
            background-color: var(--ColorWhite);
            left: 0;
            right: 0;
            bottom: 0;
            transition: all 0.3s ease-in-out;
        }

        &::before {
                z-index: -1;
        }

        &:hover {
            &::before {
                background-color: var(--ColorPrimary);
                height: calc(100% + 2px);
                z-index: -1;
                left: -2px;
                right: -2px;
                border-radius: 5px;
            }
        }
    }
}

a, button{
    cursor: pointer;
    color: var(--ColorWhite);

    &.no_deco{
        text-decoration: none;
        &::after, &::before {
            display: none;
        }
    }

    &.centered{
        text-align: center;
    }

    &.white{
        color: var(--ColorWhite);
    }

    &.link--button{
        display: inline-block;
        padding: 10px 20px;
        color: var(--ColorWhite);
        font-weight: 600;
        transition: 0.2s ease-in-out;
        text-decoration: none;
        cursor: pointer;
        border: 2px solid var(--ColorWhite);
        border-radius: var(--RoundedBorder);
        line-height: 1;

        &:hover {
            text-decoration: none;
            background-color: var(--ColorWhite);
            color: var(--ColorBackground);
        }

        &.button--primary{
            background-color: var(--ColorPrimary);
            border-color: var(--ColorPrimary);

            &:hover {
                background-color: transparent;
                border-color: var(--ColorPrimary);
                color: var(--ColorWhite);
            }
        }

    }

    &:hover {
        text-decoration: none;
        color: var(--ColorPrimaryLight);
    }
}

ul {
    margin: 0px;
    padding: 0px;
    margin-left: 17px;

    li {
        margin: 2px 0;
    }
}
