@mixin media($size) {
    @if $size == smartphone {
        @media (max-width: 639px) { @content; }
    } @else if $size == medium {
        @media (min-width: 640px) { @content; }
    } @else if $size == desktop {
        @media (min-width: 1000px) { @content; }
    } @else if $size == large {
        @media (min-width: 1280px) { @content; }
    } @else if $size == maxwidth {
        @media (min-width: 1600px) { @content; }
    } @else if $size == max-medium {
        @media (max-width: 640px) { @content; }
    } @else if $size == max-smartphone {
        @media (max-width: 450px) { @content; }
    } @else if $size == max-desktop {
        @media (max-width: 1000px) { @content; }
    } @else if $size == max-large {
        @media (max-width: 1280px) { @content; }
    } @else if $size == max-maxwidth {
        @media (max-width: 1600px) { @content; }
    } @else {
        @error "Unknown media size: #{$size}. Please use one of the defined breakpoints: smartphone, medium, desktop, large, maxwidth, max-medium, max-smartphone, max-desktop, max-large, max-maxwidth.";
    }
}

html {
    --ColorPrimary: #390083;
    --ColorBlack: #000000;
    --ColorWhite: #FFFFFF;
    --ColorBackground: #151515;
    --ColorGray: #383838;
    --ColorCms: #43536d;

    --BoxShadow: 0px 0px 14px 0px #00000040;
    --RoundedBorder: 20px;

    --MaxWidth: 1200px;
    --MaxWidthContent: 1300px;
    --MaxWidthSmall: 800px;
}
