@use "../variables" as *;

section.section--TimelineElement {
    .section_content{
        padding: 40px 0;
        .section_title{
            text-align: center;
            margin-bottom: 20px;
        }

        .section_list_filter{
            text-align: center;
            .filter_item{
                display: inline-block;
                border: 1px solid var(--ColorWhite);
                background-color: transparent;
                border-radius: 20px;
                padding: 5px 10px;
                text-decoration: none;

                &.active {
                    background-color: var(--ColorWhite);
                    color: var(--ColorBackground);
                }

                &.hidden{
                    display: none;
                }

                &:hover{
                    background-color: var(--ColorGray);
                    color: var(--ColorWhite);
                }
            }
        }

        .section_list{
            .list_item{
                display: flex;
                align-items: stretch;
                transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;

                .timeline_toggle{
                    cursor: pointer;
                }

                .list_item_timeline{
                    width: 50px;
                    position: relative;
                    flex-shrink: 0;

                    .circle{
                        display: block;
                        position: absolute;
                        left: 15px;
                        top: 25px;
                        width: 15px;
                        height: 15px;
                        border-radius: 20px;
                        background-color: var(--ColorWhite);
                    }
                    .line{
                        position: absolute;
                        left: 21px;
                        top: 50px;
                        height: calc(100% - 35px);
                        display: block;
                        width: 2px;
                        background-color: var(--ColorWhite);
                    }
                }

                .list_item_content{
                    transition: transform 0.1s ease-in-out;
                    width: 100%;

                    .list_item_content_title{
                        margin: 5px 0 10px 0;
                        &:hover{
                            color: var(--ColorWhite);
                        }
                    }
                    .list_item_content_date{
                        padding-top: 21px;
                        padding-bottom: 3px;
                        margin: 0;
                        color: var(--ColorWhite);
                    }

                    .list_item_content_text{
                        max-height: 0;
                        overflow: hidden;
                        transition: max-height 0.2s ease-in-out;
                        margin-bottom: 10px;

                        img{
                            width: 100%;
                            height: auto;
                            object-fit: contain;
                        }

                        .timeline_gallery{
                            display: flex;
                            gap: 20px;
                            flex-wrap: wrap;
                            justify-content: flex-start;
                        }
                    }


                }

                .list_item_arrow{
                    flex-shrink: 0;
                    width: 50px;
                    position: relative;

                    .arrow{
                        position: absolute;
                        top: 30px;
                        left: 15px;
                        width: 20px;
                        height: 20px;
                        display: block;
                        border-bottom: 2px solid var(--ColorWhite);
                        border-left: 2px solid var(--ColorWhite);
                        transform: rotate(-45deg);
                        transition: 0.1s ease-in-out;
                    }
                }

                &:hover{
                    .list_item_content{
                        transform: translateX(5px);
                    }

                    .list_item_arrow{
                        transform: translateX(5px);
                    }
                }

                &.list_item--visible{
                    .list_item_content_text{
                        max-height: 2000px;
                    }

                    .list_item_arrow{
                        .arrow{
                            top: 40px;
                            transform: rotate(135deg);
                        }
                    }
                }

                &:last-of-type{
                    .list_item_timeline{
                        .line{
                            height: calc(100% - 60px);
                        }
                    }
                }

                &.inactive{
                    max-height: 0px;
                    opacity: 0;
                }

                &.active{
                    max-height: 200px;
                    opacity: 1;
                    &.list_item--visible{
                        max-height: 2000px;
                    }
                }
            }
        }
    }
}
