@use "../../variables" as *;

.section.section--TeamOverview {
    margin-top: 100px;

    .section_content{

        text-align: center;
        .teammember_title{
            padding-top: 30px;
        }

        .teammember_list{
            padding: 20px 0;
            display: grid;
            grid-template-columns: repeat(3, calc(100% / 3));
            justify-content: space-between;

            .teammember_item{
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                padding: 10px;

                .teammember_texts{
                    color: var(--ColorWhite);
                    text-align: center;
                    margin: 20px 0 0 0;

                    .teammember_item_image{
                        width: 100%;
                        aspect-ratio: 1;
                        border-radius: 50%;
                        overflow: hidden;

                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            transition: transform 0.3s ease-in-out;
                        }
                    }

                    .teammember_item_name{
                        font-weight: 700;
                        font-size: 22px;
                        margin: 15px 0 0 0;
                    }

                    .teammember_item_profession{
                        font-weight: 200;
                        margin: 5px;
                    }

                    .teammember_item_time{
                        font-weight: 200;
                        margin: 5px;
                    }
                }

                a.teammember_texts {

                    &:hover {
                        color: var(--ColorPrimaryLight);
                        img {
                            transform: scale(1.1);
                        }
                    }
                }

                .social_icons{
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                }
            }

            @include media(max-medium) {
                grid-template-columns: repeat(2, calc(100% / 2));
            }
        }
    }
}
